node_modules/**
.vscode/**
src/**
.eslintrc*
.gitignore
*.md
!README.md
tailwind.config.js
postcss.config.js
tsconfig.json
esbuild.js
.DS_Store
*.log
.env
.git/**
.github/**
.vscode-test/**
out/**
test/**
*.test.ts
*.spec.ts